
*
{
    margin:0;
   box-sizing:border-box;
   padding:0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    background: #040d15;
}
.background
{
    min-height: 100%;
    width: 100%;
    
    
    background-image: linear-gradient(60deg,#ADFFE4, #ADFDFF, #ADE6FF,#94C4F6, #38B6FF);
  
    position: absolute;
}
.info_box
{
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-top: 8%;
    

    
}
.title{
    font-weight: 300;
    font-family: 'Pattaya', sans-serif;
    color: #0066cc;
     letter-spacing: 6px;
}
.title:hover{
    color: SlateBlue;
}
.buttons
{
   
 padding-left: 20%;
}
.info
{
    font-size: 25px;
    color: black;
}

.button
{
    position: relative;
    display: inline-flex;
    padding: 12px 36px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(5deg,#0612c8,#ff72c0);
    color: white;
    font-weight: 500;
}
.button:hover{
    background: linear-gradient(5deg,#38B6FF,#ff72c0);
}
span
{
    position: absolute;
    background:lightcoral;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}
@keyframes animate
{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
.Start
{
    padding-left: 25%;
    padding-top: 25%;
}
@media only screen and (max-width: 750px){
    .info{
        font-size: 15px;
    }
    .info_box{
        padding-left: 5%;
    }
}
@media only screen and (max-height: 600px){
    .info_box{
        padding-top: 24%;
    }
}


